/*
    Document   : style
    Created on : 21/Nov/2010, 17:41:51
    Author     : jlnabais
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: white;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rockwell;
    font-size:  12px;
    color: black;
}