<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="MySchedulerApp_XMPieAPIWS_JobTicket1_JobTicket_SSP"
                serializeAs="String">
                <value>http://81.92.207.206/xmpiewsapi/JobTicket_SSP.asmx</value>
            </setting>
            <setting name="MySchedulerApp_XMPieAPIWS_Production_Production_SSP"
                serializeAs="String">
                <value>http://81.92.207.206/xmpiewsapi/Production_SSP.asmx</value>
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </applicationSettings>
</configuration>