<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginRMIServlet</servlet-name>
        <servlet-class>Servlets.LoginRMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterRMIServlet</servlet-name>
        <servlet-class>Servlets.RegisterRMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutRMIServlet</servlet-name>
        <servlet-class>Servlets.LogoutRMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetRMIServlet</servlet-name>
        <servlet-class>Servlets.ResetRMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BetRMIServlet</servlet-name>
        <servlet-class>Servlets.BetRMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatRMIServlet</servlet-name>
        <servlet-class>Servlets.ChatRMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>Servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRMIServlet</servlet-name>
        <url-pattern>/LoginRMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterRMIServlet</servlet-name>
        <url-pattern>/RegisterRMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutRMIServlet</servlet-name>
        <url-pattern>/LogoutRMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetRMIServlet</servlet-name>
        <url-pattern>/ResetRMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BetRMIServlet</servlet-name>
        <url-pattern>/BetRMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatRMIServlet</servlet-name>
        <url-pattern>/ChatRMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
